<div id="servicePartial">
  <div class="container md-12">
    <h2 class="text-uppercase text-center" style="color:black;">Studio SERVICES</h2>
    <p class="text-center" style="color: #6c757d;text-shadow: none;"><em> All prices are base final price based on consultation </em></p>
    <div class="row">
    <% if @services.any? %>
      <div class="col-md-12 mb-4">
        <div class="card h-100 container-fluid" id="service-card">
          <table class="table-responsive table-hover" style="color:black;">
            <thead>
              <tr>
                <th>Service</th>
                <th>Starting</th>
                <th>Up To</th>
              </tr>
            </thead>
            <hr>
            <tbody>
           
              <% @services.each do |service| %>
                <tr style="color:black;text-shadow: none;">
                  <td><%= service.name %></td>
                  <td>$<%= service.price %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><% if service.range.present? %>$<%= service.range %>&nbsp;&nbsp;&nbsp;&nbsp;<%end%></td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    <% end %>  
    </div>
  </div>
</div>