<style>
	
	body {
	background-color: #00000040;
    color:white;
	}
	#sign-card{
		background-color: rgba(245, 245, 245, 0.4); 
		opacity: .9;
	}
</style>

<div id="clearance" class="sign-in" >


  <%= render partial: '/sessions/form' %>

</div>
