<style>
  body {
    background-color: #00000040;
    color:white;
  }
  footer p, footer a {
    color:white;
  }
</style>

<div id="userRegistration">
  <div class="container mt-100 mb-4">
    <div class="row">
      <div class="col-md-3 mb-4"></div>
      <div class="col-md-5 mb-4">
        <div class="card shadow">
          <h2 class="text-center mt-4">REGISTRATION FORM</h2> 
          <center><p id="notice"><%= notice %></p></center>
          <div class="card-body form-group" id="userEdit">         
              <%= render partial: '/users/form' %>     
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-3 mb-4"></div>
    </div>
  </div>
</div>