<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="heading">
            <h2 class="mb-5">Fresh Inks</h2>
            <div class="instagram_feed instagram-feed"></div>
        </div>
    </div>
</section>

<!-- instagram gallery javascript -->
<script>
  $(document).ready(function(){
    $.instagramFeed({
   		'username': '<%= @business.hashtag.gsub(/\s+/, '').gsub(/\W/, ' ') %>', // or tagging
   		'container': ".instagram-feed",
   		'callback': null,
   		'styling': false,
   		'display_gallery': true,
   		'items': 18,
   		'items_per_row': 10,
   		'margin': 0
   	});
  });     
</script>