<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	
		<div>
			 <span style="font-size: 12px; line-height: 1; color: #333333;">

			    <%= @request.first_name %>, this is an auto generated response to your email sent to us.

			    <br /><br />

			    Please do not reply to this email as it will not be received.

			    <br /><br />

			    This is to let you know that we have received your email and one of our representatives will contact you soon.

			</span>
		</div>
	
  </body>
</html>
