<style>

  body{

    background-color: #000000db;
    color:white;
  }
</style>
<div id="contactUsPage">
  <div class="container mt-100" id="contactPage">
    <div class="row">
      <!-- contact us section-->
      <div class="col-md-6 mb-4" id="div1">
        <%= render partial:"/requests/contact" %>
      </div>

      <!-- request column -->
      <div class="col-md-6 mb-4" id="div2">
        <div class="card h-100 shadow">
          <h4 class="text-center mt-4 stylish-color-dark font-weight-bold text-uppercase">BOOK NOW</h4> 
          <div class="card-body">
          	<%= render partial:"/requests/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="googleMap">
  <!--  google maps section to find location -->
  <h2 class="font-weight-bold text-uppercase text-center p-2">Find us on the map</h2>
  <div class="container">
    <iframe width="100%" height="450" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=2931%20Roosevelt%20Ave%2C%20San%20Antonio%20TX%2078214+(My%20Business%20Pleasant%20Dreams%20Co.)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
    </iframe>
  </div>
</div>
</div>